${DOMAIN} {
    root * /var/www/html
    php_fastcgi wp:9000
    file_server
    encode gzip
    tls ${EMAIL}

    # === Converter for Media 대응 설정 ===
    @webp {
        path_regexp wpimg /wp-content/uploads/(.*)\.(jpg|jpeg|png)
    }
    rewrite @webp /wp-content/uploads-webpc/{re.wpimg.1}.webp

    @avif {
        path_regexp avifimg /wp-content/uploads/(.*)\.(jpg|jpeg|png)
    }
    rewrite @avif /wp-content/uploads-webpc/{re.avifimg.1}.avif
}